<header>
  <div class="d-flex justify-content-between align-items-center">
<!--    <div></div>-->
    <div class="logo">
      <div class="fs-4 ms-4">
        <i class="pi pi-cog fs-5 me-2"></i>
        <span class="logo-text">Garage</span>
      </div>
    </div>
    <div class="d-flex align-items-center">

      <ul class="menu">
        @for (menu of menus; track menu.id) {
          <li class="menu-item">
            <a [routerLink]="menu.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
              <i class="menu-item-icon " [class]="menu.icon"></i>
              <span>{{menu.label}}</span>
            </a>
          </li>
        }
      </ul>
    </div>
    <div class="header-action">
      <p-button icon="pi pi-sign-out" [outlined]="true" [rounded]="true" severity="danger" (onClick)="logout()"></p-button>
<!--      <span class="circle border " style="color: var(&#45;&#45;p-red-500); border-color:  var(&#45;&#45;p-red-500) !important;">-->
<!--        <i class="pi pi-sign-out"></i>-->
<!--      </span>-->
      <div class="ms-3 d-flex justify-content-center align-items-center">
<!--        <p-avatar shape="circle" icon="pi pi-user"  size="normal" ></p-avatar>-->
        <span class="circle border">
        <i class="pi pi-user"></i>
      </span>
        <div class="d-flex flex-column mx-3">
<!--          <span class="fw-medium">David Berge</span>-->
          <span class="fw-medium text-capitalize">{{user.firstName}} {{user.name}}</span>
          <span class="fw-light text-secondary text-capitalize">{{user.role}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
