<div>
  <div class="d-flex justify-content-between mb-4">
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column">
        <span class="sub-title fw-medium ">Clients</span>
      </div>
    </div>
  </div>

  <div class="row align-items-stretch">
    <div class="col-3">
      <div class="card-custom position-relative h-100">
        <div class=" ">
          <g-client-filter></g-client-filter>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-custom">
        <div class="mb-3 d-flex flex-column justify-content-between">
          <div class="mb-3">
            <span class="fs-5 fw-medium">Tout les clients</span>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-search"></i>
                </p-inputgroup-addon>
                <input pInputText id="on_label" placeholder="Recherche..."  />
              </p-inputgroup>
            </div>
<!--            <div>-->
<!--              <p-button icon="pi pi-sliders-h" severity="secondary" [text]="true" [rounded]="true"></p-button>-->
<!--            </div>-->
          </div>
        </div>
        <div class="mb-3">
          <div>
            <p-chip label="name: 'Johan'" class="me-2 mt-2" [removable]="true" />
            <p-chip label="Comedy" class="me-2 mt-2" [removable]="true" />
            <p-chip label="Mystery" class="me-2 mt-2" [removable]="true" />
            <p-chip label="Thriller" class="me-2 mt-2" [removable]="true" />
            <span>
              <p-button variant="text" label="reinitialisé" rounded="true" severity="danger"></p-button>
            </span>
          </div>


        </div>
        <div class="d-flex ">
          <div class="col-12">
            <g-client-list (rowId)="clickRow($event)"></g-client-list>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
          <g-pagination [totalItems]="100"></g-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
