<div>
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column align-items-start">
      <div class="sub-title mb-4">
        <div class="logo">
          <div class="fs-4">
            <i class="pi pi-cog fs-5 me-2"></i>
            <span class="">Garage</span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-start">
        <div class="d-flex">
          <span class="text-secondary text-uppercase">_id:</span>
          <span class="ms-2 d-flex align-items-center">
            <i class="pi pi-hashtag"></i>
            {{data.factureId}}
          </span>
        </div>
        <div class="d-flex">
          <span class="text-secondary text-capitalize">start de création:</span>
          <span class="ms-2">{{data.date | date: 'longDate'}}</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-end">
      <div class="d-flex mb-4">
        <span class="sub-title text-uppercase">facture</span>
        <div class="ms-3 d-flex align-items-center badge-{{getClass(data.status)}}">
          <span class="pi pi-circle-on" style="font-size: .5rem"></span>
          <span class="ms-2 ">{{data.status}}</span>
        </div>
      </div>
      <div class="d-flex flex-column align-items-end">
        <span class="fw-medium">{{data.nomClient}}</span>
        <span class="fw-medium">{{data.emailClient}}</span>
        <span class="fw-medium">{{data.numeroClient}}</span>
      </div>
    </div>
  </div>

  <div style="margin-top: 70px">
    <span class=" fs-5 fw-medium">Services rendus</span>
    <div>

      <table class="table table-custom mt-2 ">
        <thead class=" table-header">
        <tr>
          <th>
            <div class="d-flex align-items-center">
              <span>Nom</span>
            </div>
          </th>
          <th>
            <div class="d-flex align-items-center">
              <span>Quantité</span>
            </div>
          </th>
          <th>
            <div class="d-flex align-items-center">
              <span>Prix unitaire</span>
            </div>
          </th>

          <th>
            <div class="d-flex align-items-center">
              <span>Montant</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
          @for (service of data.services.details; track service.serviceId) {
            <tr>
              <td>{{service.nom}}</td>
              <td>
                <span >{{service.quantite}}</span>
              </td>
              <td>
                <span class="">{{service.prix | currency:'MGA ' : 'symbol': '1.2-2' }}</span>
              </td>
              <td>
                <span class="fw-medium text-muted">{{service.prix | currency:'MGA ' : 'symbol': '1.2-2' }}</span>
              </td>
            </tr>
          }
        <tr class="">
          <td class="py-3" colspan="3">Total</td>
          <td class="fw-semibold">
            {{data.services.total | currency: 'MGA ' : 'symbol': '1.2-2'}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-between"  style="margin-top: 50px">
    <div class="col-6">
      <div class="card-custom " >
        <span class=" fs-5 fw-medium">Pièces utilisé</span>
        <div>

          <table class="table table-custom mt-2 ">

            <tbody>
              @for (piece of data.pieces.details; track piece._id) {
                <tr>
                  <td>
                    <div class="d-flex flex-column">
                      <span>{{piece.nom}}</span>
                      <div class="d-flex text-secondary">
                        <span class=" ">prix unitaire:</span>
                        <span class="ms-2">{{piece.prixunitaire | currency: 'MGA ' : 'symbol': '1.2-2'}}</span>
                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="d-flex flex-column align-items-end">
                      <div class="d-flex flex-column">
                        <span class="fw-medium">{{piece.montant | currency:'MGA ' : 'symbol': '1.2-2' }}</span>
                        <span class="text-secondary">{{piece.quantite}} PCS</span>
                      </div>

                    </div>

                  </td>
                </tr>
              }
            <tr >
              <td class="py-3 border-0">Total</td>
              <td class="fw-semibold border-0">
                <div class="d-flex flex-column align-items-end">
                  {{data.pieces.total | currency: 'MGA ' : 'symbol': '1.2-2'}}
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-3 d-flex flex-column justify-content-end ">
      <div class="card-custom total-card">
        <table class="table table-borderless total-table">
          <tbody>
          <tr >
            <td class="text-capitalize text-secondary">Sous total</td>
            <td>
              <div class="d-flex flex-column align-items-end text-secondary">
                {{data.montant | currency: 'MGA ' : 'symbol': '1.2-2'}}
              </div>
            </td>
          </tr>
          <tr class="">
            <td class="text-capitalize text-secondary">Tax</td>
            <td>
              <div class="d-flex flex-column align-items-end text-secondary">
                {{0 | currency: 'MGA ' : 'symbol': '1.2-2'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-capitalize text-secondary">Total</td>
            <td class="fs-4 fw-semibold">
              <div class="d-flex flex-column align-items-end">
                {{data.montant | currency: 'MGA ' : 'symbol': '1.2-2'}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      @if (showPaidButton()) {
        <div class="d-flex flex-column align-items-end mt-3">
          <p-button label="payé" [rounded]="true" (onClick)="paid()" [outlined]="true" severity="success"></p-button>
        </div>
      }
    </div>
  </div>

</div>
