.side-img{
  background-size: cover;
  //width: 100%;
  //height: calc(100vh - 3rem);
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  //background: url('/img/vehicle.png') no-repeat center;
  color: #e1e0e0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 3rem;
}
