<div class="d-flex justify-content-center">
  <div class="col-12">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex align-items-center">
        <span class="sub-title ms-2">Facture</span>
        <span class="fw-bold d-flex align-items-center">
          <i class="pi pi-hashtag ms-1"></i>{{invoiceId}}
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <div class="card-custom col-12">
        @if (loading){
          <g-loader></g-loader>
        }
        @if (invoices$ | async; as apiResponse){
          <div>
            <g-invoice-detail [data]="apiResponse.data"></g-invoice-detail>
          </div>
        }

      </div>
    </div>

  </div>
</div>
