

<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column mb-4">
      <div class="d-flex align-items-center">
        <i class="pi pi-cog fs-6 text-primary me-2"></i>
        <span class="fs-5 fw-medium ">Historique des interventions</span>
      </div>
      <span class="small text-muted mt-1">
        Consultez l'historique complet des interventions effectuées sur les véhicules du client.
      </span>
    </div>
    <div class="d-flex align-items-center">
      <p-select-button [options]="statusList" [(ngModel)]="filter"  />
<!--      <div class="filter ">-->
<!--        <span class="filter-item">Tout</span>-->
<!--        <span class="filter-item">En cours</span>-->
<!--        <span class="filter-item active">Terminé</span>-->
<!--        <span class="filter-item">En attente</span>-->
<!--        <span class="filter-item">Facturé</span>-->
<!--      </div>-->
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-9">
      <p-timeline [value]="events" class="w-100">
<!--        <ng-template #opposite let-event>-->
<!--          <small class="text-surface-500 dark:text-surface-400">{{ event.start }}</small>-->
<!--        </ng-template>-->
        <ng-template #content let-event >
          <div class="pt-2">
            <small class="text-surface-500 dark:text-surface-400">{{ event.date }}</small>
            <div class="card-custom">
              <div class="d-flex justify-content-between mb-2">
                <div>
                  <span class="fs-6 fw-semibold">{{event.title}}</span>
                </div>
                <div class="badge-{{event.type}} small">
                  <span class="fw-semibold">{{event.status}}</span>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur
                </div>

<!--                @if (eventFinished(event)) {-->
<!--                  <div class="d-flex justify-content-end">-->
<!--                    <p-button label="facturer" severity="success" [outlined]="true" [rounded]="true"></p-button>-->
<!--                  </div>-->
<!--                }-->
              </div>
            </div>
          </div>
        </ng-template>
      </p-timeline>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <g-pagination [totalItems]="50"></g-pagination>
  </div>
</div>
