<table class="table table-custom mt-2 ">
  <thead class=" table-header">
  <tr>

    <th>
      <div class="d-flex align-items-center">
        <span>Nom</span>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Email</span>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Date d'inscription</span>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    @for (client of clients; track client._id) {
      <tr>
        <td>
          <a class="link text-capitalize" routerLink="{{actionLink}}/{{client._id}}">
            {{client.name}} {{client.firstName}}
          </a>
        </td>
        <td>
          <div class="d-flex align-items-center text-secondary">
            <span class="pi pi-envelope me-2"></span>
            <span>{{client.email}}</span>
          </div>

        </td>
        <td>
          <div class="d-flex ">
            <div class="d-flex align-items-center badge-secondary text-secondary">
              <span class="">{{client.createdAt | date: 'longDate'}}</span>
            </div>

          </div>
        </td>
      </tr>
    }


  </tbody>
</table>

