<div>
<!--  <div class="d-flex mb-3 align-items-center">-->
<!--    <p-button icon="pi pi-arrow-left" severity="secondary" [rounded]="true" [outlined]="true"></p-button>-->
<!--    <div class="sub-title">-->
<!--      <span class="ms-2">Rendez-vous</span>-->
<!--    </div>-->
<!--  </div>-->

  <div class="card-custom">
    <div class="d-flex mb-4">
      <div class="d-flex flex-column ">
        <div class="d-flex align-items-center">
          <i class="pi pi-send fs-6 text-primary me-2"></i>
          <span class="fs-5 fw-medium ">Rendez-vous</span>
        </div>
        <span class="small text-muted mt-1">
        Accédez en un clin d'œil à tous les rendez-vous, avec toutes leurs informations essentielles.
      </span>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-between align-items-end">
      @if (loading) {
        <g-loader></g-loader>
      }
      @if (appointments$ | async; as apiResponse) {
        <div class="col-12 ">
          <g-appointment-list [data]="apiResponse.data"></g-appointment-list>
        </div>
        <div class="mt-4 d-flex justify-content-end">
          <g-pagination
            [totalItems]="apiResponse.pagination?.total || 0"
            [pageIndex]="apiResponse.pagination?.currentPage || 1"
            [pageSize]="apiResponse.pagination?.limit!"
            (page)="onPageChange($event)"
          ></g-pagination>
        </div>
      }
    </div>

  </div>
</div>
