<div class="d-flex justify-content-center">
  <div class="col-12">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex align-items-center">
        <p-button severity="secondary" [routerLink]="'/user-space/admin/clients'"
                  icon="pi pi-arrow-left" [rounded]="true" [outlined]="true"></p-button>
        <span class="sub-title ms-2">Client</span>
        <span class="fw-bold d-flex align-items-center">
          <i class="pi pi-hashtag ms-1"></i>2
        </span>
      </div>
    </div>
    <div class="card-custom">
      <div>
        <g-client-personal-detail [id]="clientId"></g-client-personal-detail>
      </div>
      <div class="p-3">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
