<div class="row z-1 bg-white" >
  <div class="col-auto">
    <g-upload-image></g-upload-image>
  </div>
  <div class="col d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between">
      <div class=" col-3 d-flex justify-content-between align-items-center">
        <div class=" fs-4 fw-medium text-capitalize">Johan Anderson</div>

      </div>
      <div class="col-auto d-flex ">
        <div>
          <button class="btn">
            <i class="pi pi-trash text-danger"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="mt-5 d-flex align-items-end">
      <div class="col-6 card-container box-shadow">
        <div class="d-flex align-items-center">
          <span class="icon-rounded me-3">
            <i class="pi pi-car"></i>
          </span>
          <div class="d-flex text-secondary">
            <span class="text-capitalize fw-medium">2</span>
            <span class=" ms-2">véhicule</span>
          </div>

        </div>
        <div class="d-flex align-items-center mt-2">
          <span class="icon-rounded me-3">
            <i class="pi pi-phone"></i>
          </span>
          <span class="text-capitalize text-secondary">+261 32 00 001 02</span>
        </div>
        <div class="d-flex align-items-center mt-2">
          <span class="icon-rounded me-3">
            <i class="pi pi-info-circle"></i>
          </span>
          <div class="d-flex text-secondary">
            <span class="text-capitalize ">Inscrit le</span>
            <span class="badge-secondary fw-medium small ms-3">
              {{dateTest | date:'longDate'}}
            </span>
          </div>
        </div>
        <div class="d-flex align-items-center mt-2">
          <span class="icon-rounded me-3">
            <i class="pi pi-envelope"></i>
          </span>
          <span class="text-secondary">{{'test.g@gmail.com'}}</span>
        </div>
      </div>

      <div class="bg-white sticky-below-header z-3 pt-2\">
        <!--      <app-tab-menu [menu]="tabMenu"></app-tab-menu>-->
        <p-tabs [value]="tabs[0].link">
          <p-tablist>
            @for(tab of tabs; track tab.link){
              <p-tab [value]="tab.link" [routerLink]="tab.link">
                <i [class]="tab.icon"></i>
                <span>{{ tab.label }}</span>
              </p-tab>
            }
          </p-tablist>
        </p-tabs>
      </div>
    </div>
  </div>
</div>
