<div class="bg-white border p-4 rounded-4">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <i class="fs-5 pi pi-cog "></i>
      <span class="fw-bold ms-2 ">Interventions en cours</span>
    </div>
<!--    <div class="d-flex">-->
<!--      <div class="filter">-->
<!--        <div class="filter-item active">En attente</div>-->
<!--        <div class="filter-item">En cours</div>-->
<!--        <div class="filter-item">Terminé</div>-->
<!--      </div>-->
<!--      <div class="ms-3">-->
<!--        <p-button [outlined]="true" icon="pi pi-arrow-up-right" [rounded]="true"></p-button>-->
<!--      </div>-->
<!--    </div>-->
  </div>
<!--  <g-intervention-list></g-intervention-list>-->
</div>
