<div>
  <div class="d-flex justify-content-between">
    <div class="d-flex mb-3 align-items-center">
      <p-button icon="pi pi-arrow-left" severity="secondary" [rounded]="true" [outlined]="true"></p-button>
      <div class="sub-title">
        <span class="ms-2">Rendez-vous</span>
      </div>
    </div>

    <div>
      <p-button label="Rendez-vous" [rounded]="true" routerLink="new" [outlined]="true" icon="pi pi-plus"></p-button>
    </div>
  </div>

  <div class="card-custom d-flex flex-column justify-content-between  align-items-end">
    <div class="col-12 ">
      <g-appointment-list></g-appointment-list>
    </div>
    <div>
      <g-pagination [totalItems]="50"></g-pagination>
    </div>
  </div>

<!--  <div  style="height: calc(100vh - 18rem)">-->
<!--    <g-loader ></g-loader>-->
<!--  </div>-->


</div>
