<div>

  <!--  <div class="d-flex align-items-center mb-3">-->
  <!--    <div>-->
  <!--      <p-button [rounded]="true" severity="secondary" routerLink="/user-space/client" [outlined]="true" icon="pi pi-arrow-left"></p-button>-->
  <!--    </div>-->
  <!--    <div class="sub-title ms-2">-->
  <!--      Véhicules-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="card-custom">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column mb-4">
        <div class="d-flex align-items-center">
          <i class="pi pi-car fs-6 text-primary me-2"></i>
          <span class="fs-5 fw-medium ">Véhicules</span>
        </div>
        <span class="small text-muted mt-1">
        Retrouvez ici l’ensemble de vos véhicules, avec leurs informations détaillées.
      </span>
      </div>
      <div class="d-flex align-items-center">
        <p-select-button [options]="statusList" [(ngModel)]="filter"  />
        <div class="ms-4">
          <p-button label="Vehicule" [rounded]="true" routerLink="new" [outlined]="true" icon="pi pi-plus"></p-button>
        </div>
      </div>

    </div>

    <div class="my-3 d-flex flex-column ">
      @if (loading) {
        <div class="d-flex justify-content-center align-items-center">
          <g-loader ></g-loader>
        </div>
      }
      @if (vehicles$ | async; as apiResponse) {
        <!--        @if (apiResponse) {-->
        <div>
          <g-vehicle-list
            [data]="apiResponse.data"
            [actionLink]="'/user-space/client/vehicles'"
          ></g-vehicle-list>
        </div>

        <div class="mt-4 d-flex justify-content-end">
          <g-pagination
            [totalItems]="apiResponse.pagination?.total || 0"
            [pageIndex]="apiResponse.pagination?.currentPage || 1"
            [pageSize]="apiResponse.pagination?.limit!"
            (page)="onPageChange($event)"
          ></g-pagination>
        </div>
      }

    </div>
  </div>


</div>
