@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";

//@font-face {
//  font-family: "Alpino";
//  src: url("css/alpino/css/alpino.css");
//}

$colors: (
  "amber": (
    "label": --p-amber-,
    "500": #FFC107,
  ),
);


:root{
  --g-primary-label: var(--p-amber-);
  --bs-primary: var(--p-amber-500);
  --g-primary: var(--p-amber-400);
  //--g-body-bg: #fbfbfb;
  --g-body-bg: #f4f8fb;
}

html, body{
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  //font-family: "Alpino-Regular", sans-serif;
}

.body-bg{
  background: var(--g-body-bg);
}

.circle{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-xl{
  width: 3rem !important;
  height: 3rem !important;
}

.text-primary{
  color: var(--g-primary) !important;
}

.badge-primary{
  color: var(--p-blue-500);
  background: var(--p-blue-50);
  padding: 0.18rem 0.5rem;
  border-radius: 2rem;
}

.badge-secondary{
  //color: white;
  color: var(--p-zinc-500);
  //background: var(--p-amber-400);
  background: var(--p-zinc-50);
  padding: 0.18rem 0.5rem;
  border-radius: 2rem;
}


.badge-success{
  color: var(--p-green-500);
  background: var(--p-green-50);
  padding: 0.18rem 0.5rem;
  border-radius: 2rem;
}

.badge-warning{
  //color: white;
  color: var(--p-amber-500);
  //background: var(--p-amber-400);
  background: var(--p-amber-50);
  padding: 0.18rem 0.5rem;
  border-radius: 2rem;
}

.badge-danger{
  color: #D6545E;
  background: #ffe8ea;
  padding: 0.18rem 0.5rem;
  border-radius: 2rem;
}

.filter{
  padding: .4rem .6rem;
  border-radius: 2rem;
  background: var(--g-body-bg);
  display: flex;
  justify-items: center;

  .filter-item{
    padding: .35rem .7rem;
    border-radius: 2rem;
    cursor: pointer;
    //text-transform: capitalize;
    color: var(--p-zinc-600);

    &:not(:last-child){
      margin-right: .4rem;
    }

    &:hover{
      background: white;
      color: #2b2b2b;
    }

    &.active{
      background: rgba(0, 0, 0, 0.64);
      color: white;
    }
  }
}


.table-custom-head{
  background: #212529;
}

.table-custom{
  overflow: hidden;
  vertical-align: middle !important;

  td{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  th{

    text-align: center;
    &:not(.check){
      font-size: 11px;
    }

    color: #556268;
    text-transform: uppercase;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #dee2e6 !important;
  }
}

.c-primary{
  color: var(--g-primary);
}

.table-custom {

  *>.link{
    text-decoration: none;
    font-weight: 500;
    color: #404040;
    transition: .2s;
    &:hover{
      color: #656565;
    }
  }
}

.text-gray-300{
  //color: #556268;
  color: #505050;
}

.card-custom{
  background: white;
  border:var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  padding: 1.5rem;
  //margin-top: 1.5rem;
  border-radius: 1rem;
}

.logo{
  margin-right: 1rem;

  .logo-text{
    color: var(--p-amber-600);
    //background: -webkit-linear-gradient(var(--p-amber-700), var(--p-amber-400), var(--p-amber-300));
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
  }
}

.sub-title{
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
}

.p-chip{
  background: #f6f6f6 !important;
}

a{
  cursor: pointer !important;
}

.card-primary{
  background: var(--p-blue-50);
  //color: var(--p-blue-500);
  border-color: var(--p-blue-500);
}

.card-secondary{
  //color: var(--p-zinc-500);
  background: var(--p-zinc-50);
  border-color: var(--p-zinc-50);
}

.card-success{
  //color: var(--p-green-500);
  border-color: var(--p-green-500);
  background: var(--p-green-50);
}

.card-warning{
  //color: var(--p-amber-500);
  border-color: var(--p-amber-500);
  background: var(--p-amber-50);
}

.card-danger{
  //color: #D6545E;
  background: #ffe8ea;
  border-color: #D6545E;
}


//.p-timeline-event-content{
//  margin-top: .8rem;
//}

.p-toast-message-content {
  align-items: center !important;
}

.avatar{
  background: var(--p-pink-100);
  color: var(--p-pink-600);

  //background: var(--p-blue-50);
  //color: var(--p-blue-500);
}

.cursor-pointer{
  cursor: pointer !important;
}


