<table class="table table-custom mt-2 ">
  <thead class=" table-header">
  <tr>
    <th>
      <div class="d-flex align-items-center">
        <span>Véhicule</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Client</span>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Mécanicien</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Status</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Estimation temps restant</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    @for (intervention of interventions; track intervention._id){
      <tr>
        <td>
          <div class="d-flex flex-column" >
            <a class="link text-capitalize" routerLink="{{actionLink()}}/{{intervention._id}}">{{intervention.vehicle?.model}}</a>
            <span class="text-muted">{{intervention.vehicle?.immatriculation}}</span>
          </div>
        </td>
        <td>
          <div class="d-flex">
            <div class="col-8">
              <div class="border m-1 p-1 rounded-3">
                <div class="p-2 rounded-3" style="background: var(--p-zinc-50)">
                  <div class="d-flex align-items-center">
                    <div class="circle-xl circle border" style=" color: var(--p-amber-500)">
                    <span class="fw-medium fs-4">
                      <i class="pi pi-user"></i>
                    </span>
                    </div>
                    <div class="d-flex flex-column ms-2">
                      <span class="text-capitalize">{{intervention.client?.firstName}} {{intervention!.client?.name}}</span>
                      <span class="text-secondary">{{intervention!.client?.email}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td >
          <div class="d-flex">
            <div class="col-8">
              <div class="border m-1 p-1 rounded-3">
                <div class="p-2 rounded-3" style="background: var(--p-zinc-50)">
                  <div class="d-flex align-items-center">
                    <div class="circle-xl circle border" style=" color: var(--p-amber-500)">
                    <span class="fw-medium fs-4">
                      <i class="pi pi-user"></i>
                    </span>
                    </div>
                    <div class="d-flex flex-column ms-2">
                      <span class="text-capitalize">{{intervention.mecanicien?.firstName}} {{intervention!.mecanicien?.name}}</span>
                      <span class="text-secondary">{{intervention!.mecanicien?.email}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex">
            <div class="d-flex align-items-center badge-{{getStatusClass(intervention.status)}}">
              <i class="pi pi-circle-on" style="font-size: .5rem" ></i>
              <span class="ms-2">{{intervention.status}}</span>
            </div>
          </div>

        </td>
        <td>
          <span class="rounded-4 py-2 px-3 bg-dark fw-medium small c-primary" >{{intervention.estimateTime}} min</span>
        </td>
      </tr>
    }


  </tbody>
</table>
