<!--<table class="table table-custom mt-2">-->
<!--  <thead class="table-header">-->
<!--  <tr>-->
<!--    <th>Client</th>-->
<!--    <th>Véhicule</th>-->
<!--    <th>Mécanicien</th>-->
<!--    <th>Status</th>-->
<!--    <th>Estimation temps restant</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let intervention of interventions">-->
<!--    <td>-->
<!--      <a href="#" class="link">{{ intervention.client }}</a>-->
<!--    </td>-->
<!--    <td>-->
<!--      <div class="d-flex flex-column">-->
<!--        <a href="#" class="link">{{ intervention.vehicle }}</a>-->
<!--      </div>-->
<!--    </td>-->
<!--    <td>-->
<!--      <a href="#" class="link">{{ intervention.mecanicien }}</a>-->
<!--    </td>-->
<!--    <td>-->
<!--      <div class="d-flex align-items-center">-->
<!--        <i class="pi pi-circle-on c-primary"></i>-->
<!--        <span class="ms-2 text-muted">{{ intervention.status }}</span>-->
<!--      </div>-->
<!--    </td>-->
<!--    <td>-->
<!--      <span class="rounded-4 py-2 px-3 bg-dark fw-medium small c-primary">{{ intervention.remainingTime }}</span>-->
<!--    </td>-->
<!--  </tr>-->
<table class="table table-custom mt-2">
  <thead class="table-header">
    <tr>
      <th>Client</th>
      <th>Véhicule</th>
      <th>Mécanicien</th>
      <th>Status</th>
      <th>Estimation temps restant</th>
    </tr>
<!--  </tbody>-->
<!--</table>-->


<table class="table table-custom mt-2">
  <thead class="table-header">
    <tr>
      <th>Client</th>
      <th>Véhicule</th>
      <th>Mécanicien</th>
      <th>Status</th>
      <th>Estimation temps restant</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let intervention of interventions">
      <td>
        <a href="#" class="link">{{ intervention.client }}</a>
      </td>
      <td>
        <div class="d-flex flex-column">
          <a href="#" class="link">{{ intervention.vehicle }}</a>
        </div>
      </td>
      <td>
        <a href="#" class="link">{{ intervention.mecanicien }}</a>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <i class="pi pi-circle-on c-primary"></i>
          <span class="ms-2 text-muted">{{ intervention.status }}</span>
        </div>
      </td>
      <td>
        <span class="rounded-4 py-2 px-3 bg-dark fw-medium small c-primary">{{ intervention.remainingTime }}</span>
      </td>
    </tr>
  </tbody>
</table>
