<table class="table table-custom mt-2 ">
  <thead class=" table-header">
  <tr>
    <th>
      <div class="d-flex align-items-center">
        <span>montant</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Date</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>

    <th>
      <div class="d-flex align-items-center">
        <span>statut</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    @for (invoice of data; track invoice._id) {
      <tr>
        <td>
            {{invoice.total | currency: 'MGA ' : 'symbol': '1.2-2'}}
        </td>
        <td>
          <a routerLink='{{actionLink}}/{{invoice._id}}' class="link">
            {{invoice.date | date: 'longDate'}}
          </a>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="badge-{{getStatusClass(invoice.statut)}} d-flex align-items-center">
              <i class="pi pi-circle-on" style="font-size: .5rem" ></i>
              <span class="ms-2">{{invoice.statut}}</span>
            </div>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

